body
{
  margin: 0;
  padding: 0;
  border: 0;
}

.output .cur-operand
{
  background-color: red;
}
.calculator-grid
{
  justify-content: center;
  display: grid;
  margin-top: 2rem;

  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
}
.span-two
{
  grid-column: span 2;
}
.output
{
  grid-column: 1 / -1;
  background-color: #ffffff85;
}